body {
	max-width: 80ch;
	margin: auto;
	padding: 1em 0.5em;
	background: #f9f9f9;
}
h1 {
	background: teal;
	width: fit-content;
	padding: 0 0.5em;
	border: 2px dotted #f9f9f9;
}
h1 a {
	color: white;
	text-decoration: none;
}
h1 img {
	position: relative;
	top: 4px;
}
h1,
h2 {
	margin: 0;
}
h2 {
	padding: 0;
	font-weight: normal;
}
h2 a,
h2 b {
	text-wrap: nowrap;
}
h3 {
	display: inline-block;
}
img {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
nav p {
	margin-top: 0.25em;
	margin-bottom: 1em;
	padding: 0.5em;
}
nav b {
	color: deeppink;
}
summary {
	font-style: italic;
	text-decoration: wavy LinkText underline;
	cursor: help;
}
ul {
	padding-left: 1em;
}
ul > li:nth-child(2n) {
	/* zebra stripes */
}
ul ul {
	padding-left: 2em;
}
#skip-nav {
	position: absolute;
	left: -9999px;
	top: -9999px;
	z-index: 100;
}
#skip-nav:focus {
	left: 0.25em;
	top: 0.25em;
	z-index: 0;
}
#main {
	margin-top: 0;
	margin: auto;
	max-width: 80%;
	padding: 0 1em 1em 1em;
}
#main > ul {
	list-style: none;
	padding-left: 0.5em;
}
.additional {
	font-size: 0.9em;
}
.icon {
	position: relative;
	top: 2px;
}
#main.list {
	padding-top: 0;
}
.hide {
	display: none;
}
.list a {
	word-break: break-all;
}
@media (prefers-color-scheme: dark) {
	body {
		background: black;
		color: #eee;
	}
	h1 {
		border-color: black;
	}
	.invert {
		color: black;
		background: white;
		filter: invert();
	}
}
@media (prefers-reduced-motion: reduce) {
	#footer-button {
		content: url("/img/buttons/crt-static.gif");
	}
}
@media screen and (max-width: 500px) {
	#main {
		max-width: 95%;
		padding: 0;
	}
}
