body {
	max-width: 80ch;
	margin: auto;
}
img {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
#nav {
	font-weight: bold;
}
#nav a,
#nav span {
	font-weight: normal;
}
.icon {
	position: relative;
	top: 2px;
}
.additional {
	font-size: 0.9em;
}
@media (prefers-color-scheme: dark) {
	body {
		background: black;
	}
	.invert {
		color: black;
		background: white;
		filter: invert();
	}
}
